<div id="header">
    <span id="title-text">
      Tasmania Hydro Energy Storage
    </span>
    <span id="links">
      <a href="/about" class="link">About</a>
      <a href="#" class="link">Contact</a>
    </span >
  </div>
