<!doctype html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/navbar.ejs %>
    <div id="background">
      <div>
        About...
      </div>
    </div>
</body>

</html>
