<!doctype html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/navbar.ejs %>
        <div>
            <div class="container ">
                <div class="col-md-8 col-md-offset-2">
                    <h1>So how does this all work?</h1>
                    <h3>Source Data</h3>
                    <p>
                        All data is souced from the <a href="http://www.hydro.com.au/water/energy-data">Hydro Tasmania website</a>. It is updated every week on Monday.
                    </p>
                    <h3>The Main Chart</h3>
                    <img src="assets/images/mainchart.png" alt="Main Chart" class="img-responsive img-thumbnail" />
                    <p>
                        This chart illustrates the following characteristic of each dam in the Hydro Tasmania system. Clicking on a dam will show the historical levels chart for that dam
                        <ul>
                            <li>
                                <h4>Relative Size</h4>
                                <p>
                                    The size of the box for each dam indicates its relative size. The larger the box, the larger the dam.
                                </p>
                            </li>
                            <li>
                                <h4>Current Lake Level</h4>
                                <p>
                                    The current level of the dam is indicated by two methods:
                                    <ol>
                                        <li>
                                            A percentage value of maximum capacity.
                                        </li>
                                        <li>
                                            A blue fill which visually indicates the percentage value of maximum capacity. The higher the fill, the higer the level.
                                        </li>
                                    </ol>
                                </p>
                            </li>
                            <li>
                                <h4>Remaining Energy</h4>
                                <p>
                                    The amount of energy stored in the dam measured in Gigawatt hours (GWh).
                                </p>
                            </li>
                        </ul>
                    </p>
                    <h3>Historical Levels Chart</h3>
                    <img src="assets/images/historicalchart.png" alt="Historical Chart" class="img-responsive img-thumbnail" />
                    <p>
                        This chart illustrates the dam level over time as a percentage of maximum capacity.
                    </p>
                    <h3>Source Code</h3>
                    <p>
                      Source code is available on Github for the <a href="https://github.com/travisty-github/hydro-web">website</a> and
                      data retrieval <a href="https://github.com/travisty-github/hydro-data">backend</a>.
                    </p>
                </div>
            </div>
        </div>
</body>

</html>
