<!doctype html>
<html>

<head>
  <title>Chart</title>
  <script type="text/javascript" src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>

<body>
  <h1>Chart</h1>
  <svg class="#chart"></svg>
  <script type="text/javascript" src="/assets/javascripts/graph.js"></script>
</body>

</html>
