<!doctype html>
<html>

<head>
    <% include partials/head.ejs %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js" defer></script>
    <script type="text/javascript" src="assets/js/bundle.js" defer></script>
</head>

<body>
    <% include partials/navbar.ejs %>
        <div id="background">
            <div id="chart" class="shadow"></div>
        </div>
</body>

</html>
