<!doctype html>
<html>

<head>
  <title>Tasmania Hydro Energy Storage</title>
  <link type="text/css" rel="stylesheet" href="/assets/stylesheets/style.css" />
  <script type="text/javascript" src="/assets/javascripts/d3/d3.js" charset="utf-8"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="header">
    <span id="title-text">
      Tasmania Hydro Energy Storage
    </span>
    <span id="links">
      <a href="#" class="link">About</a>
      <a href="#" class="link">Contact</a>
    </span >
  </div>
  <div id="background">
    <div id="chart"></div>
  </div>
  <script type="text/javascript" src="/assets/javascripts/treemap.js"></script>
  <script type="text/javascript" src="/assets/javascripts/treemap-bigchart.js"></script>
  <script type="text/javascript" src="/assets/javascripts/main.js"></script>
</body>

</html>
